<div fxLayout="row" fxLayoutAlign="start stretch" style="height:100%;padding:0 10% 0 10%">
	<div fxFlex.xs="100" fxFlexOffset.xs="0" fxFlex="50" fxFlexOffset="25" fxLayout="column" fxLayoutAlign="center stretch">
		<h1 class="mat-display-1" style="font-weight:400;text-align: center;">Segnala un video</h1>
		<form (submit)="signUpUser($event)">
			<mat-form-field style="width: 100%" [formGroup]="reportGroup" appearance="fill">
				<mat-label>Descrizione</mat-label>
				<textarea matInput placeholder="Descrizione.." (key.enter)="signUpUser($event)" (input)="onDescInput()" formControlName="desc" type="text" required>
				</textarea>
				<mat-error *ngIf="desc.hasError('minlength')">La descrizione deve contenere almeno {{minPw}} caratteri</mat-error><mat-error *ngIf="desc.hasError('required')">La descrizione è obbligatoria</mat-error>
			</mat-form-field>
			<div fxLayout="row" fxLayoutAlign="space-between center">
				<button class="lb-signin-button" color="primary" type="button" mat-button routerLink="/"><mat-icon>arrow_back</mat-icon></button>
				<button class="lb-signin-button" color="primary" type="submit" id="submit" mat-button [disabled]="!valid"><mat-icon>done</mat-icon></button>
			</div>
		</form>
	</div>
</div>