@import '../../styles.scss';

.toolbar {
	max-height: 48px;
	min-height: 48px;
	background: transparent;
	color:white;
}


.white-toolbar{
	background:white;
	height: 49px;
	color: mat-color($lb-theme-primary) !important;
}

.header-container{
	/*background-color: #5db796 !important;*/
	height: 196px;
	
}
.header-logo{
	z-index: 1;
}
img.circle{
	border-radius: 50%;
}

.lb-player-name{
	font: 300 25px/40px Roboto;
	margin: 0 0 64px;
}
h4.profile-name{
	//padding:0.2em;
	font-weight: 300;
	text-align: center;
	color: white;
	margin:0.2em;
}

span.ranking{
	//margin-top: -1em;
	font-weight: 300;
	color:white;
	text-transform: uppercase;
}

.stats-container{
	font-weight: 300;
	color: white;
	background: #445458;
}