<div style="background: #678a91" fxLayout="column">
	<mat-toolbar class="toolbar">
		<mat-toolbar-row style="height: 49px !important;">
			<button (click)="backClick()" color="warm" mat-icon-button><i class="material-icons">arrow_back</i></button>
		</mat-toolbar-row>
	</mat-toolbar>
	<div class="my-2 header-container" style="height:98px" fxLayout="row" fxLayoutAlign="space-around stretch">

		<div class="header-logo" fxFlexOffset="5" fxFlex="30" fxLayout="column" fxLayoutAlign="start center">
			<img class="circle" default ="{{default_url}}" src="{{player_img}}" style="width:80px;border-radius: 50%">
		</div>
		<div fxFlex="60" *ngIf="loaded" style="height:98px" fxLayout="column" fxLayoutAlign="start start">
			<h4 class="lb-player-name" style="color:white;margin: 0">{{nome}}</h4>
			<h4 class="lb-player-name" style="color:white;margin: 0">{{cognome | truncate:[19]}}</h4>
		</div>
		<content-loader *ngIf="!loaded" [style]="{ height: '98px' }" fxFlex="60" fxLayout="column" fxLayoutAlign="center start" animate="true" primaryColor="white" secondaryColor="#00de8e">
			<svg:rect x="0" y="0" rx="3" ry="3" width="220" height="25" />
			<svg:rect x="0" y="50" rx="3" ry="3" width="220" height="25" />
		</content-loader>
	</div>
	<div fxLayout="row" class="stats-container" style="padding: 16px">
		<span fxLayout="column"  fxFlex="25" fxLayoutGap="4px" fxLayoutAlign="center center">
			<mat-icon>local_movies</mat-icon><span>{{(nvideo == "")? '-': (nvideo)}}</span>
		</span>
		<span fxLayout="column" fxFlex="25" fxLayoutGap="4px" fxLayoutAlign="center center">
			<mat-icon>star</mat-icon><span>{{(score == "")? '-': (score)}}</span>
		</span>
		<div fxFlex="50" fxLayout="column" fxLayoutAlign="center stretch">
			<span fxFlex="50" class="ranking">{{(ranking == "")? '-': (ranking)}}/100</span>
			<app-progress fxFlex="50"></app-progress>
		</div>
	</div>
</div>