<div class="splash-container" fxLayout="column" fxLayoutAlign="start stretch">
	<div fxFlex="50" fxLayout="row" fxLayoutAlign="stretch center">
		<div fxFlex="50" fxFlexOffset="25" fxLayout="column" fxLayoutAlign="start center">
			<div fxLayout="row" fxLayoutAlign="center center">
				<img width="200" height="200" src="../assets/logolb.svg"/>
			</div>
			<h4 style="margin:-2em;color:#00de8e;">LIVE BOMBER</h4>
		</div>
	</div>
	<div fxFlex="50">
		<div fxLayout="row">
			<div fxFlex.xs="100" fxFlexOffset.xs="0" fxFlex="50" fxFlexOffset="25" fxLayout="column" style="padding:0 10% 0 10%" fxLayoutAlign="center stretch">
				<form (keyup.enter)="signInUser($event)" (submit)="signInUser($event)" [formGroup]="signinGroup">
					<p class="mat-h2" *ngIf="!authError" style="font-weight:400;color:#00de8e;text-align: center;">Accedi</p>
					<p class="mat-h2" *ngIf="authError" style="font-weight:400;color:red;text-align: center;">Credenziali non valide!</p>
					<mat-form-field style="width: 100%" appearance="fill">
						<mat-label>Email</mat-label>
						<input (keyup.enter)="signInUser($event)" (input)="onEmailInput()" formControlName="email" autocomplete="email" id="email" matInput placeholder="" required>
						<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
					</mat-form-field>
					<mat-form-field style="width: 100%" appearance="fill">
						<mat-label>Pasword</mat-label>
						<input (keyup.enter)="signInUser($event)" (input)="onPasswordInput()" formControlName="password" autocomplete="current-password" id="password" type="password" matInput placeholder="" required>
						<mat-error *ngIf="authError">Invalid credentials..</mat-error>
						<!--mat-icon matSuffix>vpn_key</mat-icon-->
					</mat-form-field>
					<div fxLayout="row" fxLayoutAlign="space-between center">
						<button type="button" mat-button routerLink="/welcome">
							<mat-icon>arrow_back</mat-icon>
						</button>
						<button type="submit" id="submit" color="primary" [disabled]="!valid" mat-button>
							ENTRA
							<!--mat-icon>done</mat-icon-->
						</button>
					</div>
				</form>
			</div>
		</div>
