<!-- MOBILE HEADER WITH TOOLBAR -->

<div fxShow.xs fxHide class="my-2 header-container" fxLayout="column" fxLayoutAlign="center center" >
	<div class="header-background-container" style="background: #678a91">
		<div class="header-blur" style="display: none">
			<div class="header-background">
			</div>
		</div>
	</div>
	<h2 class="lb-org-title">{{title}}</h2>
		
	<img class="circle lb-org-icon" src="{{imgURL}}" width="98"/>
	<div style="width: 100%">
		<mat-toolbar class="toolbar white-toolbar" style="background: white">
			<mat-toolbar-row style="height: 49px">
				<button *ngIf="backNav == 'enabled'" style="color:#426d47" mat-button routerLink="{{categoriesURL}}">
					<mat-icon>arrow_back</mat-icon>
				</button>
			</mat-toolbar-row>
			<mat-toolbar-row style="height: 49px"  *ngIf="backNav == 'enabled'">
				<h4 fxFlex style="text-align: center;line-height: 49px;color:#426d47" >{{titleInput}}</h4>
			</mat-toolbar-row>
		</mat-toolbar>
	</div>
</div>

<!-- DESKTOP HEADER WITH TOOLBAR -->

<div fxShow fxHide.xs class="my-2 header-container desktop" fxLayout="column" fxLayoutAlign="center stretch" >
	<div class="header-background-container-desktop">
		<div class="header-blur">
			<div class="header-background-desktop">
			</div>
		</div>
	</div>
	<div style="width:100%;position:absolute;height:inherit" fxLayout="column" fxLayoutAlign="center center">
		<img class="circle lb-org-icon-desktop" src="{{imgURL}}" width="98"/>
		<h2 class="lb-org-title">{{title}}</h2>
	</div>
</div>