@import '../../styles.scss';

.white-toolbar{
	background:white;
	color: mat-color($lb-theme-primary) !important;
}

.header-container{
	background-color: white !important;
}


/*	
	per avere l'effetto di blurring con colore rimuovere i commenti in '.header-background'
*/

.desktop{
	height: 196px;
}
.header-background-container{
	width: 100%;
	height: 98px;
	
    //border-bottom: solid 3px #87d68f;
    // --> ultimo border-bottom: solid 3px white;

    //background: #5f5f5f;
    //background: #87d68f;
    background: #426d47;
}

.header-background-container-desktop{
	width: 100%;
	height: 196px;
    //border-bottom: solid 3px #87d68f;
    border-bottom: solid 3px white;
    //background: #5f5f5f;
    //background: #87d68f;
    background: #426d47;
}
.header-blur{
	height: 100%;
	-webkit-filter: blur(2px);
	filter: blur(2px);
}
.header-background{
	z-index: 0;
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	height: inherit;
	opacity: 0.75;
	background-size: cover;
	background: url(https://www.livebomber.com/up/090120191959554362/203237w.png) no-repeat center;
}
.header-background-desktop{
	z-index: 0;
	width: 100%;
	height: inherit;
	opacity: 0.75;
	background-size: cover;
	//-webkit-filter: blur(2px);
	//filter: blur(2px);
	webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	background: url(https://www.livebomber.com/up/090120191959554362/203237w.png) no-repeat center;
}

.lb-org-title{
	position: absolute;
	top: 0;
	line-height: 49px;
	margin: 0;
	color: white;
	font-weight: 200;
	width: 100%;
	text-align: center;
}

.lb-org-icon{
	
	position: absolute;
	top: 49px;
	border-radius: 50%;
	background: white;
	//border: solid 3px #87d68f;
	border: solid 3px white;
	width: 98px;
	height: 98px;
    /*border: solid 3px white;*/
}

.lb-org-icon-desktop{
	top: 49px;
	width: 96px;
	height: 96px;
	border-radius: 50%;
	background: white;
	border: solid 3px white;
}

.header-logo{
	z-index: 1;
}
.lead{
	z-index: 1;
}
.lead a h4{
	margin:0.2em;
	color:white;
}