@import '../../../styles.scss';
::ng-deep .mat-display-2{
	text-transform: uppercase;
	color: mat-color($lb-theme-primary);
	font-family: mat-font-family($custom-typography);
}


.right-item{
	text-align: right;
	color:#545353;
}

.timeline-e-r-b{
	position: absolute;
	left: calc(50% - 28px);
	margin-top:-3px;
	background-size: cover;
}

::ng-deep .timeline-e-r-b span.mat-button-wrapper {
    padding: 0;
}

.lb-play-hint{
	position: absolute;
    right: 0;
    background: white;
    color: #628d94;
    top: -10px;
    border-radius: 50%;
}

.lb-timeline-entry-content{
	    border-radius: 3px;
    border: 1px solid #87d68f;
	width: 100%;
	margin-right:1em;margin-left: 1em;background:white;width: 100%
}