@import '../../styles.scss';

::ng-deep .mat-error {
    color: red;
}

::ng-deep .mat-form-field-label{

}

.lb-signin-button{
	color: white;
	background: transparent;
}

.splash-container{
	height: 100%;
	width: 100%;
	background: #3f9272;
	//background: #4aab86;
	//background: #214c54;
}
.lb-splash-button{
	background: mat-color($lb-theme-primary);
	color: white;
	border-radius: 50px;
}
router-outlet ~ * {
	position: absolute;
	height: 100%;
	width: 100%;
}

@mixin md-icon-size($size) {
	font-size: $size !important;
	height: $size !important;;
	width: $size !important;;
}

.lb-splash-white-button{
	background: white;
	color: black;
	border-radius: 50px;
	overflow: hidden;
}

.lb-splash-button{
	background: #00de8e;
	color: white;
	border-radius: 50px;
	overflow: hidden;
}

.fb-color{
	background: #3a5b9d;
}

img.facebook-img{
	width: 36px;
	height: 36px;
	position: absolute;
	left: 0;
}

::ng-deep{
	.mat-raised-button{
		line-height: 40px;
	}
}


::ng-deep .mat-icon.big-logo {
	@include md-icon-size(32px);
}

//@include angular-material-theme($lb-dark-theme);