@import '../../styles.scss';

/*.container{
	padding-top: 48px;
	padding-bottom:48px;
}*/

.cal-header {
  flex: 1 1 auto;
}

.cal-toolbar {
  color:white;
  background: mat-color($lb-theme-primary);
  max-height: 48px;
  min-height: 48px;
}


.bomber-img{
   width: 35px;
   height: 35px;
   vertical-align: middle;
   border-radius: 50%;
   background: #111111;
}
.lb-tab-container{
	height:100%;
}


/*::ng-deep .mat-tab-group{
    height: 100%;
}
::ng-deep .mat-tab-body-wrapper {
    flex-grow: 1;
}

::ng-deep .mat-tab-body {
    display: flex !important;
    flex-direction: column;
}

::ng-deep .mat-tab-body-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}*/

th.mat-header-cell.cdk-column-sq2.mat-column-sq2.ng-star-inserted, td.mat-column-sq2 {
    width:40%;
    text-align: right;
}

th.mat-header-cell.cdk-column-ris1.mat-column-ris1.ng-star-inserted, td.mat-column-ris1 {
    width:20%;
    text-align: center;
}

th.mat-header-cell.cdk-column-sq1.mat-column-sq1.ng-star-inserted, td.mat-column-sq1 {
    width:40%;
    text-align: left;
}

tr.mat-header-row.ng-star-inserted {
    height: 48px;
}

::ng-deep td.mat-cell.cdk-column-giocate.mat-column-giocate.ng-star-inserted, th.mat-header-cell.cdk-column-giocate.mat-column-giocate.ng-star-inserted{
  padding-right: 10px;
}

::ng-deep th.mat-header-cell.cdk-column-url_img.mat-column-url_img.ng-star-inserted, td.mat-cell.cdk-column-url_img.mat-column-url_img.ng-star-inserted{
  padding-left: 10px;
}

::ng-deep td.mat-cell.cdk-column-gf.mat-column-gf.ng-star-inserted,
td.mat-cell.cdk-column-gs.mat-column-gs.ng-star-inserted,
td.mat-cell.cdk-column-v.mat-column-v.ng-star-inserted,
td.mat-cell.cdk-column-pa.mat-column-pa.ng-star-inserted,
td.mat-cell.cdk-column-pe.mat-column-pe.ng-star-inserted{
  padding-right: 10px;
  text-align: center;
}

::ng-deep td.mat-cell.cdk-column-giocate.mat-column-giocate.ng-star-inserted{
  text-align: center;
}

::ng-deep th.mat-header-cell.cdk-column-sq2_img.mat-column-sq2_img.ng-star-inserted, td.mat-cell.cdk-column-sq2_img.mat-column-sq2_img.ng-star-inserted{
  padding-right: 10px;
}

::ng-deep th.mat-header-cell.cdk-column-sq1_img.mat-column-sq1_img.ng-star-inserted, td.mat-cell.cdk-column-sq1_img.mat-column-sq1_img.ng-star-inserted{
  padding-left: 10px;
}


