<mat-progress-spinner style="margin:auto" *ngIf="!loaded" color="primary" mode="indeterminate" value="value">
    </mat-progress-spinner>
<div *ngIf="WS == true && loaded">
	<mat-tab-group animationDuration="0ms" mat-stretch-tabs class="lb-org-info-tab-container">
		<mat-tab label="Cannonieri" style="min-height: 192px">
				<div >
			<table mat-table [dataSource]="dataBombers" style="height:100%;width:100%" class="mat-elevation-z8">
			  <!--- Note that these columns can be defined in any order.
			  	The actual rendered columns are set as a property on the row definition" -->

			  	<!-- Name Column -->
			  	<ng-container matColumnDef="url_img">
			  		<th mat-header-cell *matHeaderCellDef></th>
			  		<td mat-cell *matCellDef="let element"> <img class="bomber-img" src="{{element.url_img}}"/> </td>
			  	</ng-container>

			  	<!-- Position Column -->
			  	<ng-container matColumnDef="name">
			  		<th mat-header-cell *matHeaderCellDef> Nome </th>
			  		<td mat-cell *matCellDef="let element"> {{element.name}} </td>
			  	</ng-container>


			  	<!-- Weight Column -->
			  	<ng-container matColumnDef="goals">
			  		<th mat-header-cell *matHeaderCellDef> Goals </th>
			  		<td mat-cell *matCellDef="let element"> {{element.goal}} </td>
			  	</ng-container>

			  	<tr mat-header-row *matHeaderRowDef="displayedColumnsBombers;"></tr>
			  	<tr mat-row *matRowDef="let row; columns: displayedColumnsBombers;"></tr>
			  </table>
			</div>
			</mat-tab>
			<mat-tab label="Classifica" style="min-height: 192px ">
				<div >
				<table mat-table [dataSource]="classificationSource" style="width:100%" class="mat-elevation-z8">
			  	<ng-container matColumnDef="url_img">
			  		<th mat-header-cell *matHeaderCellDef>No.</th>
			  		<td mat-cell *matCellDef="let element"> <img style="width: 35px;
    height: 35px;
    border-radius: 50%;
    background: white;
    vertical-align: middle;" default="{{default_url}}" class="img bomber-img" src="https://www.livebomber.com/up/uploads-sito/loghi/{{element.id}}.png"/> </td>
			  	</ng-container>

			  	<!-- Name Column -->
			  	<ng-container matColumnDef="sq">
			  		<th mat-header-cell *matHeaderCellDef> Name </th>
			  		<td mat-cell *matCellDef="let element"> {{element.sq}} </td>
			  	</ng-container>

			  	<!-- Weight Column -->
			  	<ng-container matColumnDef="gf">
			  		<th mat-header-cell *matHeaderCellDef> GF </th>
			  		<td mat-cell *matCellDef="let element"> {{element.gf}} </td>
			  	</ng-container>

			  	<!-- Symbol Column -->
			  	<ng-container matColumnDef="gs">
			  		<th mat-header-cell *matHeaderCellDef> GS </th>
			  		<td mat-cell *matCellDef="let element"> {{element.gs}} </td>
			  	</ng-container>

			  	<ng-container matColumnDef="v">
			  		<th mat-header-cell *matHeaderCellDef> V </th>
			  		<td mat-cell *matCellDef="let element"> {{element.v}} </td>
			  	</ng-container>

			  	<ng-container matColumnDef="pa">
			  		<th mat-header-cell *matHeaderCellDef> PA </th>
			  		<td mat-cell *matCellDef="let element"> {{element.pa}} </td>
			  	</ng-container>

			  	<ng-container matColumnDef="pe">
			  		<th mat-header-cell *matHeaderCellDef> PE </th>
			  		<td mat-cell *matCellDef="let element"> {{element.pe}} </td>
			  	</ng-container>

			  	<ng-container matColumnDef="giocate">
			  		<th mat-header-cell *matHeaderCellDef> TOT </th>
			  		<td mat-cell *matCellDef="let element"> {{element.giocate}} </td>
			  	</ng-container>

			  	<tr mat-header-row *matHeaderRowDef="displayedColumnsClassification;"></tr>
			  	<tr mat-row *matRowDef="let row; columns: displayedColumnsClassification;"></tr>
			  </table>
			</div>
			</mat-tab>
			<mat-tab label="Calendario" style="min-height: 192px">
				<mat-toolbar class="cal-toolbar">
					<button (click)="prevCal()" mat-button [disabled]="calIndex == 0">
						<mat-icon>chevron_left</mat-icon>
					</button>
					<div class="cal-header" fxLayout="row" fxLayoutAlign="center center"><mat-icon>date_range</mat-icon><h2>Girone n°{{calIndex+1}}</h2></div>
					<button (click)="nextCal()" mat-button [disabled]="calIndex == calendarDays.length-1">
						<mat-icon>chevron_right</mat-icon>
					</button>
				</mat-toolbar>
			<table #calTable mat-table [dataSource]="calendarSource" style="width:100%" class="mat-elevation-z8">
			  <!--- Note that these columns can be defined in any order.
			  	The actual rendered columns are set as a property on the row definition" -->

			  	<!-- sq1 img Column -->
			  	<ng-container matColumnDef="sq1_img">
			  		<th mat-header-cell *matHeaderCellDef></th>
			  		<td mat-cell *matCellDef="let element"> <img class="bomber-img" src="https://www.livebomber.com/up/uploads-sito/loghi/{{element.sq1id}}.png"/></td>
			  	</ng-container>

			  	<!-- Sq1 Column -->
			  	<ng-container matColumnDef="sq1">
			  		<th mat-header-cell *matHeaderCellDef>Casa</th>
			  		<td mat-cell *matCellDef="let element" style="padding-left: 0.5em;white-space: pre-line;"> {{element.sq1}} </td>
			  	</ng-container>

			  	<!-- Name Column -->
			  	<ng-container matColumnDef="ris1">
			  		<th mat-header-cell *matHeaderCellDef>Ris.</th>
			  		<td mat-cell *matCellDef="let element"> {{element.ris1}}-{{element.ris2}} </td>
			  	</ng-container>

			  	

			  	<!-- Sq2 Column -->
			  	<ng-container matColumnDef="sq2">
			  		<th mat-header-cell *matHeaderCellDef>Ospite</th>
			  		<td mat-cell *matCellDef="let element" style="padding-right: 0.5em;white-space: pre-line;"> {{element.sq2}} </td>
			  	</ng-container>

			  	<!-- sq1 img Column -->
			  	<ng-container matColumnDef="sq2_img">
			  		<th mat-header-cell *matHeaderCellDef></th>
			  		<td mat-cell *matCellDef="let element"> <img class="bomber-img" src="https://www.livebomber.com/up/uploads-sito/loghi/{{element.sq2id}}.png"/> </td>
			  	</ng-container>

			  	<tr mat-header-row *matHeaderRowDef="displayColumnsMatchesCal;"></tr>
			  	<tr mat-row *matRowDef="let row; columns: displayColumnsMatchesCal;"></tr>
			  </table>
			</mat-tab>
		</mat-tab-group>
	</div>
	<div *ngIf="WS == false && loaded">
		<mat-tab-group animationDuration="0ms" mat-stretch-tabs class="lb-org-info-tab-container">
			<mat-tab label="Partite" style="min-height: 192px">
				<div >
				<table #calTable mat-table [dataSource]="calendarSource" style="width:100%" class="mat-elevation-z8">
			  <!--- Note that these columns can be defined in any order.
			  	The actual rendered columns are set as a property on the row definition" -->

			  	<!-- sq1 img Column -->
			  	<ng-container matColumnDef="sq1_img">
			  		<th mat-header-cell *matHeaderCellDef></th>
			  		<td mat-cell *matCellDef="let element"> <img class="bomber-img" src="https://www.livebomber.com/up/uploads-sito/loghi/{{element.sq1id}}.png"/></td>
			  	</ng-container>

			  	<!-- Sq1 Column -->
			  	<ng-container matColumnDef="sq1">
			  		<th mat-header-cell *matHeaderCellDef>Casa</th>
			  		<td mat-cell *matCellDef="let element" style="white-space: pre-line;"> {{element.sq1}} </td>
			  	</ng-container>

			  	<!-- Name Column -->
			  	<ng-container matColumnDef="ris1">
			  		<th mat-header-cell *matHeaderCellDef>Ris.</th>
			  		<td mat-cell *matCellDef="let element"> {{element.ris1}}-{{element.ris2}} </td>
			  	</ng-container>

			  	

			  	<!-- Sq2 Column -->
			  	<ng-container matColumnDef="sq2">
			  		<th mat-header-cell *matHeaderCellDef>Ospite</th>
			  		<td mat-cell *matCellDef="let element" style="white-space: pre-line;"> {{element.sq2}} </td>
			  	</ng-container>

			  	<!-- sq1 img Column -->
			  	<ng-container matColumnDef="sq2_img">
			  		<th mat-header-cell *matHeaderCellDef></th>
			  		<td mat-cell *matCellDef="let element"> <img class="bomber-img" src="https://www.livebomber.com/up/uploads-sito/loghi/{{element.sq2id}}.png"/> </td>
			  	</ng-container>

			  	<tr mat-header-row *matHeaderRowDef="displayColumnsMatchesCal;"></tr>
			  	<tr mat-row *matRowDef="let row; columns: displayColumnsMatchesCal;"></tr>
			  </table>
			</div>
			</mat-tab>
			<mat-tab label="Squadre" style="min-height: 192px">
				<div>
				<table mat-sort mat-table [dataSource]="teamsSource" style="height:100%;width:100%" class="mat-elevation-z8">
			  <!--- Note that these columns can be defined in any order.
			  	The actual rendered columns are set as a property on the row definition" -->

			  	<!-- Name Column -->
			  	<ng-container matColumnDef="url_img">
			  		<th mat-header-cell *matHeaderCellDef>Squadra</th>
			  		<td mat-cell *matCellDef="let element"> <img class="bomber-img" src="https://www.livebomber.com/up/uploads-sito/loghi/{{element.id}}.png"/> </td>
			  	</ng-container>

			  	<!-- Position Column -->
			  	<ng-container matColumnDef="name">
			  		<th mat-header-cell *matHeaderCellDef></th>
			  		<td mat-cell *matCellDef="let element"> {{element.nome}} </td>
			  	</ng-container>

			  	<ng-container matColumnDef="points">
			  		<th mat-header-cell mat-sort-header *matHeaderCellDef>Punti</th>
			  		<td mat-cell *matCellDef="let element"> 2</td>
			  	</ng-container>

			  	<tr mat-header-row *matHeaderRowDef="displayedColumnsTeam;"></tr>
			  	<tr mat-row *matRowDef="let row; columns: displayedColumnsTeam;"></tr>
			  </table>
			</div>
			</mat-tab>
			
		</mat-tab-group>
	</div>