<div class="splash-container" fxLayout="column" fxLayoutAlign="start stretch">
	<div fxFlex="50" fxLayout="row" fxLayoutAlign="stretch center">
		<!--mat-icon class="big-logo" svgIcon="livebomber-icon"></mat-icon-->
		<div fxFlex="50" fxFlexOffset="25" fxLayout="column" fxLayoutAlign="start center">
			<div fxLayout="row" fxLayoutAlign="center center">
				<img width="200" height="200" src="../assets/logolb.svg"/>
			</div>
			<h4 style="margin:-2em;color:#00de8e;">LIVE BOMBER</h4>
		</div>
	</div>
	<div fxFlex="50">
		<!--router-outlet #router="outlet"></router-outlet-->
		<div fxLayout="row">
			<div fxFlex.xs="100" fxFlexOffset.xs="0" fxFlex="50" fxFlexOffset="25" style="padding:10%" fxLayoutGap="16px" fxLayoutGap.xs="16px" fxLayout="column" >
				<button mat-raised-button [disableRipple]="true" class="lb-splash-white-button" routerLink="/login">ACCEDI</button>
				<button mat-raised-button [disableRipple]="true" class="lb-splash-button fb-color" (click)="signInWithFB()" >
					<mat-icon svgIcon="facebook-icon"></mat-icon> USA FACEBOOK</button>
					<button mat-raised-button [disableRipple]="true" class="lb-splash-button" routerLink="/signup">ISCRIVITI</button>
				</div>
			</div>
		</div>
	</div>