<div *ngIf="display" fxLayout="row" style="margin-top: 40px">
	<button [disabled]="getBoolForDisabled(livestory.isvideo)" (click)="askModal()" class="timeline-e-l-b" color="primary" mat-fab>
		<mat-icon class="lb-play-hint">play_circle_filled</mat-icon>
		<img width="100%" src="{{typeLogoURL}}"/>
	</button>
	<!-- ACTION INFO -->
	<div fxFlex="50" style="height:50px;" fxLayout="row">
		<div class="lb-timeline-entry-content mat-elevation-z2">
			<mat-list style="height: 100%">
				<mat-list-item *ngIf="loaded" class="left-item">
					<h4 mat-line>{{cognome_giocatore}}</h4>
					<p mat-line>{{nome_giocatore}}</p>
				</mat-list-item>
				<content-loader *ngIf="!loaded" [style]="{width:'100%',height:'50px'}" fxLayout="column" fxLayoutAlign="center start" animate="true" primaryColor="white" secondaryColor="#00de8e">
					<svg:rect x="5%" y="20" rx="3" ry="3" width="85%" height="30" />
					<svg:rect x="5%" y="75" rx="3" ry="3" width="75%" height="25" />
				</content-loader>
			</mat-list>
		</div>
	</div>
	<!-- TIME STAMP -->
	<div fxFlex="50" style="height:50px;" fxLayout="row">
		<div style="margin-right:1em;margin-left:30px;width: 100%;text-align: center;">
			<h4 class="mat-display-2" style="color: #232323">"{{minuto.split(':')[0]}}</h4>
		</div>
	</div>
</div>