::ng-deep .lb-panel-desc{
	text-align: right !important;
	display: initial !important;
}
::ng-deep .header-icon{
	height: 50px !important;
	width: 50px !important;
	font-size: 50px !important;
	color: #888888;
}
::ng-deep .mat-expanded mat-icon.mat-icon.material-icons {
	color: #87d68f;
}