<div style="margin-top:1em;text-align:center" fxLayout="column" fxLayoutAlign="center center">
	<mat-icon class="header-icon">contact_support</mat-icon>
	<h2 class="mat-display-1" style="margin-bottom: 1em">
		Supporto
	</h2>
	<span style="padding: 0 2em 1em 2em">
		Contattaci per qualunque motivo, segnalazioni, suggerimenti o malfunzionamenti<br>usando i nostri canali di supporto tecnico.
	</span>
</div>
<div fxLayout="row">
	<mat-accordion fxFlex fxFlex="80" fxFlexOffset="10" fxFlex.xs="90" fxFlexOffset.xs="5">
		<mat-expansion-panel [expanded]=""  hideToggle>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Video
				</mat-panel-title>
				<mat-panel-description class="lb-panel-desc">
					<mat-icon>movie</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
			QUALCOSA
		</mat-expansion-panel>

		<mat-expansion-panel [expanded]=""  hideToggle>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Info
				</mat-panel-title>
				<mat-panel-description class="lb-panel-desc">
					<mat-icon>info</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
			QUALCOSA
			<!--mat-action-row>
				<button mat-button color="warn" >Previous</button>
				<button mat-button color="primary">Next</button>
			</mat-action-row-->
		</mat-expansion-panel>

		<mat-expansion-panel [expanded]=""  hideToggle>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Segnala
				</mat-panel-title>
				<mat-panel-description class="lb-panel-desc">
					<mat-icon>warning</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
			QUALCOSA
			<!--mat-action-row>
				<button mat-button color="warn" >Previous</button>
				<button mat-button color="primary" >End</button>
			</mat-action-row-->
		</mat-expansion-panel>

	</mat-accordion>
</div>