.progress {
	margin-bottom: 0px;
	border-radius: 10px;
	overflow: hidden;
	height: 20px;
	/*margin-bottom: 20px;*/
	background-color: #f5f5f5;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);;
}
.progress-bar{
	background-color: #00de8e;
	/*background-color:#b4f95e;*/
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
}