
<div fxLayout="column" style="width: 100%;padding:16px;" fxFlex.xs="0" fxFlexOffset.xs="0" fxFlex="70" fxFlexOffset="15">
  <div fxLayout="row" fxLayoutAlign="start center">
    <img fxFlex.xs="100" fxFlexOffset.xs="0" fxFlex="50" fxFlexOffset="0" src="https://www.livebomber.com/assets/img/logo.svg"/>
  </div>
  <span style="padding:6px;margin-bottom: 0px;">
    LiveBomber è l'ultima frontiera delle app per higlights di sport.
    Grazie a features come le livestories verrai guidato minuto per minuto nelle azioni svolte all'interno di qualunque match.
    Esplora i gironi, i tornei o i calendari delle varie organizzazioni e segui i giocatori migliori.
    Per ora LiveBomber supporta l'organizzazione di società di calcio, basket e hockey su erba ma il nostro staff è sempre disponibile
    per ampliare il raggio d'azione ed espandersi!
  </span>
  <a target="_blank" href="https://livebomber.com/spot" color="primary" mat-raised-button>Scopri come funziona</a>
  <br>
  <mat-list role="list">
    <h3 style="color:#7a7a7a !important;font-size: 17px !important;font-weight: 200 !important" mat-subheader>Info aziendali</h3>
    <mat-list-item role="listitem">Copyright © 2019 LiveBomber</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">LB Srl</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">P.IVA 14956701008</mat-list-item>
    <mat-divider></mat-divider>
    <h3 style="color:#7a7a7a !important;font-size: 17px !important;font-weight: 200 !important" mat-subheader>Info app</h3>
    <mat-list-item role="listitem">Versione 1.0</mat-list-item>
    <mat-divider></mat-divider>
    <h3 style="color:#7a7a7a !important;font-size: 17px !important;font-weight: 200 !important" mat-subheader>Seguici</h3>
    <mat-list-item role="listitem">
      <img style="background: white;border-radius: 0" width="32" mat-list-icon src="https://image.flaticon.com/icons/svg/124/124010.svg"/>
      Facebook
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <img style="background: white;border-radius: 0" width="32" mat-list-icon src="https://image.flaticon.com/icons/svg/174/174883.svg"/>
      YouTube
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <img style="background: white;border-radius: 0" width="32" mat-list-icon src="https://image.flaticon.com/icons/svg/174/174855.svg"/>
      Instagram
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>