<mat-card style="height: 100%;padding: 0;border-radius: 0px" class="fullscreen">
	<div fxLayoutGap="8px" class="lb-action-card-header" fxLayout="row" fxLayoutAlign="start center">
		<div fxFlex="20" fxLayout="column" class="lb-video-type-container" fxLayoutAlign="start center">
			<img src="{{typeLogoURL}}" width="40px"/>
			<p class="lb-video-type-label">{{type}}</p>
		</div>
		<div fxFlex="60" fxLayout="row" fxLayoutAlign="start center">
			<!--p style="text-align: center;margin: 0">{{player_name}}</p-->
			<p>{{date | date:'EEEE d MMM'}}</p>
		</div>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<mat-icon>not_interested</mat-icon>
				<span>Segnala</span>
			</button>
			<a mat-menu-item href="{{action.url}}">
				<mat-icon>cloud_download</mat-icon>
				<span>Scarica</span>
			</a>
		</mat-menu>
	</div>
	<div mat-card-image style="width: 100%;margin:0">
		<video playsinline id="videoPlayer{{id}}" [poster]="action.thumb" class="lb-player video-js vjs-16-9 vjs-big-play-centered vjs-paused vjs-controls-enabled vjs-workinghover " controls preload="none" autobuffer>
			<source [src]="action.url" type="video/mp4" />
		</video>
	</div>
	<div class="lb-action-card-footer" fxLayout="row">
		<div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
			<button (click)="liked()" mat-flat-button class="lb-modal-button">
				<mat-icon *ngIf="like" style="color:red">favorite</mat-icon>
				<mat-icon *ngIf="!like">favorite_border</mat-icon>
				{{(like? 'Ti piace':'Mi piace')}}
			</button>
		</div>
		<div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
			<button (click)="share()" mat-flat-button class="lb-modal-button">
				<mat-icon >share</mat-icon>Condividi
			</button>
		</div>
	</div>
</mat-card>