@import '../../../styles.scss';

.playButton{
	z-index: 3 !important;
	background: #17171778;
	background-image: url("https://www.livebomber.com/assets/img/logoquadrato1.png") !important;
	background-size: 70px auto !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	width: 100px !important;
	height: 80px !important;
	background-repeat: no-repeat;
	border: #00de8e 3px solid !important;
	box-shadow: none !important;
}

video{
	width: 100%;
	height: inherit;
	position: absolute;
}

.videoPlayer-dimensions{
	//width:none;
	//height: none;
}

::ng-deep mat-video .videoplayer .controls{
	display: none;
}

*::-webkit-media-controls-panel {
	display: none!important;
	-webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
	display: none!important;
	-webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
	display: none!important;
	-webkit-appearance: none;
}

fa.action-type-icon{
	vertical-align: middle
}
.lb-action-card-header{
	padding:0.5em;
	color: black;
	//background-color: white;
}

.lb-action-card-footer{
	padding: 0.4em;
}
.lb-video-type-label{
	margin: 0;
    text-transform: uppercase;
    font-size: 11px;
}

.lb-video-type-container{
	border-radius: 3px;
    //border: 1px black solid;
    box-sizing: border-box;
    color:white;
    background: mat-color($lb-theme-primary);
}




::ng-deep .cdk-overlay-backdrop.lb-backdrop-container.cdk-overlay-backdrop-showing{
	background: #040404e3;
}

$break-small: 414px;
$break-large: 600px;

::ng-deep .cdk-overlay-pane.lb-dialog-container{
	
	@media screen and (max-width: $break-small) {
		max-width: 100vw !important;
	}
	@media screen and (min-width: $break-large) {
		max-width: 50vw !important;
	}
}

.lb-modal-button{
	color: black;
	//color:mat-color($lb-theme-primary);
	background: white;
}


