@import '../../styles.scss';

table {
  padding-top: 20px;
  width: 100%;
}

/*::ng-deep .mat-horizontal-stepper-header-container{
  position: fixed;
  width: 100%;
  top:48px;
  background: white;
  z-index: 3;
}
::ng-deep .mat-horizontal-content-container{
  margin-top: 104px;
}*/

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.666);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

section h5{
  text-transform: uppercase;
  color: mat-color($lb-theme-primary);
  font-family: mat-font-family($custom-typography);
}

section p{
  color: #0000008a;
  margin:1em;
  text-align: center;
  font-family: mat-font-family($custom-typography);
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {

  background: #00de8e;
  color:white;
  /*
  background: #efefef;*/
}
tr.example-element-row:not(.example-expanded-row):active td{
  color:white;
}
.example-element-row td {
  border-bottom-width: 1px;
}

.lb-form-field-fixed{
  /*position:fixed;*/
  background:white; width: 100%;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

td.mat-cell:first-of-type{
  padding: 0;
}

img.org-element-image{
  width:35px;
  height: 35px;
  border-radius:50%;
  vertical-align: middle;
}

.example-element-diagram {
  max-width: 100px;
  /*border: 2px solid black;
  padding: 8px;*/
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.lb-selection-vs{
  border: solid 1px #757575;
  //box-shadow: inset 0px 0px 4px 2px #757575;
  height: 200px;
  width: 100%;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

::ng-deep .mat-pseudo-checkbox{ display: none !important; }