<mat-horizontal-stepper fxFlex.xs="100" fxFlexOffset.xs="0" fxFlex="50" fxFlexOffset="25" [linear]="true" labelPosition="bottom" #stepper>
	<ng-template matStepperIcon="edit">
		<mat-icon>done</mat-icon>
	</ng-template>
	<ng-template matStepperIcon="2">
		<mat-icon>done_all</mat-icon>
	</ng-template>
	<mat-step #step1 completed="false" state="done" label="Organizzazione">
		<section fxFlex fxLayout="column" fxLayoutAlign="center center">
			<h5  class="mat-display-1">Scegli la tua organizzazione</h5>
			<!--p style="margin:0" class="mat-headline">tranquillo, potrai cambiarla in un secondo momento</p-->
		</section>
		<mat-form-field class="lb-form-field-fixed">
			<input autocomplete="off" matInput [(ngModel)]="searchText" placeholder="Cerca quì..">
		</mat-form-field>
		<mat-selection-list style="height: calc(100% - 323px)">
			<cdk-virtual-scroll-viewport itemSize="56" class="lb-selection-vs">
				<div fxLayout="row"  *ngIf="!loaded" fxLayoutAlign="center center" style="height:200px">
					<mat-progress-spinner *ngIf="!loaded" color="primary" mode="indeterminate" value="value"> 
					</mat-progress-spinner>
				</div>
				<div *ngIf="loaded">
					<ng-container  *ngFor="let org of orgs | match_filter : searchText" >
						<mat-list-option disableRipple *ngIf="org.title!='' && !isBlackListed(org.title)" (click)="selectOrganization(org)">
							<img mat-list-icon mat-avatar class="circle" src="https://league.livebomber.com/public/uploads/tornei/{{org.id}}.png"/>
							{{org.title}}
							<mat-divider></mat-divider>
						</mat-list-option>
					</ng-container>
				</div>
			</cdk-virtual-scroll-viewport>
		</mat-selection-list>
	</mat-step>
	<mat-step #step2 state="done" label="Fatto">
		<section fxFlex fxLayout="column" fxLayoutAlign="center center">
			<h5  class="mat-display-1">Hai selezionato</h5>
			<img  style="width:100px;height:100px" src="{{selectedOrgURL}}"/>
			<h5  class="mat-display-1">{{selectedOrgTitle}}</h5>
		</section>
		<section fxLayout="row" fxLayoutAlign="center center">
			<a (click)="confirm()" fxFlex="nogrow" color="primary" mat-button matStepperNext>VAI AVANTI</a>
			<button fxFlex="none" mat-button color="primary" matStepperPrevious><mat-icon>arrow_back</mat-icon></button>
			<!--div fxFlex></div-->
			
		</section>
	</mat-step>
</mat-horizontal-stepper>