<div fxLayout="column" class="mat-elevation-z2 match_header">
	<mat-toolbar class="toolbar white-toolbar">
		<!--h2 style="width:100%;text-align:center;position: absolute;height: inherit;line-height: 49px">Livestories</h2-->
		<mat-toolbar-row>
			<button (click)="goBack()" color="warm" mat-icon-button><i class="material-icons">arrow_back</i></button>
		</mat-toolbar-row>
	</mat-toolbar>
	<div fxLayout="column" style="height: 101px;">
		<div fxLayoutGap="0px"  fxFlex="50" fxLayout="row" fxLayoutAlign="space-around center">
			<div fxFlex="32" fxLayout="column" fxLayoutAlign="start center">
				<img mat-card-avatar width="50" default="{{default_img}}" src="{{sq1_img}}" class="card-header-image lb-match"/>
			</div>
			<div fxFlex="36" fxLayoutAlign="center center" style="font-size:1em;text-align: center;vertical-align: middle;">
				<h1 style="margin:auto;color: white" class="mat-display-1">3 - 1</h1>
			</div>
			<div fxFlex="32" fxLayout="column" fxLayoutAlign="start center">
				<img mat-card-avatar width="50" default="{{default_img}}" src="{{sq2_img}}" class="card-header-image card-header-image lb-match">
			</div>
		</div>
		<div fxLayout="row"  fxFlex="50" fxLayoutAlign="stretch center">
			<div fxFlex="32">
				<h4 style="text-align:center;" class="team-name">manca api</h4>
			</div>
			<div fxFlex="36" ></div>
			<div fxFlex="32">
				<h4 style="text-align:center;" class="team-name">manca api</h4>
			</div>
		</div>
	</div>
	
</div>

<div fxLayout="row"  *ngIf="!loaded" fxLayoutAlign="center center" style="height: calc(100% - 198px);margin-top: 198px;">
	<mat-progress-spinner *ngIf="!loaded" color="primary" mode="indeterminate" value="value"> 
	</mat-progress-spinner>
</div>

<cdk-virtual-scroll-viewport *ngIf="loaded" itemSize="90" 
	[ngStyle.xs]="{'width':'100%','margin-left':'0%','height':'calc(100% - 150px)','margin-top':'150px'}"
	[ngStyle]="{'width':'50%','margin-left':'25%','height':'calc(100% - 150px)','margin-top':'150px'}">
	<timeline-line></timeline-line>
	<div class="timeline-start-header"><h2 class="mat-display-1" style="margin: 0 !important;">INIZIO</h2></div>
	<timeline-start-entry [fine]="false"></timeline-start-entry>
	<div *ngFor="let l of livestories">
		<timeline-left-entry [livestory]="l" *ngIf="l.puntoPer == '1'" (modalAsked)="openVideoModal($event)"></timeline-left-entry>
		<timeline-right-entry [livestory]="l" *ngIf="l.puntoPer == '2'" (modalAsked)="openVideoModal($event)"></timeline-right-entry>
	</div>
	<timeline-start-entry [fine]="true"></timeline-start-entry>
	<div class="timeline-end-footer"><h2 class="mat-display-1" style="margin: 0 !important;">FINE</h2></div>
</cdk-virtual-scroll-viewport>