@import '../../styles.scss';

::ng-deep .mat-list-base {
	padding-top: 0px;
	display: block;
	-webkit-tap-highlight-color: transparent;
}



::ng-deep .mat-list-base .mat-list-item.mat-2-line{
	height: inherit;
}

.timeline-entry-button-overlay{
	background: url(https://www.livebomber.com/assets/img/play_trasp.png);
	opacity: 0.5;
	background-size: cover;
}
h4.team-name{
	/*border-radius: 4px;
	//padding:0.2em;
	font-weight: 300;
	background: white;
	//color: mat-color($lb-theme-primary);
	margin: 0;
    //text-align: center !important;
    max-height: 35px;
    overflow: hidden;*/
    font-weight: 300;
    margin: 0;
    color: white;
    //padding-bottom: 0.2em;
    max-height: 35px;
    margin: 0 0.3em 0 0.3em;
    overflow: hidden;
}

.match_header{
	position:fixed;
	top:48px;
	background: #678a91;
	//background:mat-color($lb-theme-primary) !important;
	width:100%;
	height:150px;
	//padding-bottom:1em;
	z-index:1;
	//background: white;
}

.card-header-image.lb-match{
	margin:auto;border-radius: 50%;
	//height:54px;width: 54px;
    border: solid 2px white;
    width: 54px !important;
    height: 54px !important;
}

.white-toolbar{
	background: transparent;
	height: 49px;
	//background: #3e3e3e;
	min-height: 49px;
	color: white;
}
.timeline-start-header{
	background:white;
	border-radius: 3px;
	//border:1px mat-color($lb-theme-primary) solid;
	height: 40px;
	//margin-bottom:50px;
	//margin:16px;
	padding: 16px;
	text-align: center;
	color: black
}
.timeline-end-footer{
	background:white;
	border-radius: 3px;
	//border:1px mat-color($lb-theme-primary) solid;
	height: 40px;
	//margin-top:50px;
	//margin:16px;
	padding: 16px;
	text-align: center;
	color: black
}
