@import '../../styles.scss';

.toolbar {
  max-height: 48px;
  min-height: 48px;
}
.toolbar-top{
  z-index: 4;
  position: fixed;
  top: 0;
}
/*
.progress-bar{
  top:48px;
}*/

.white-toolbar{
	background:white;
	color: mat-color($lb-theme-primary) !important;
}