<!-- questa è la componente 'header' -->
<app-header backNav="{{backNav}}" categoriesURL="{{categoriesURL}}" titleInput="{{pageTitle}}"></app-header>

<!-- questa è la toolbar presente solo in desktop-->
<mat-toolbar fxHide.xs fxShow color="warm" style="min-height:49px;height:49px !important" fxLayout="row">
	<mat-toolbar-row fxLayoutGap="8px" style="height:49px !important" fxLayoutAlign="start center">
		
		<button style="position: absolute;" fxFlex="10" *ngIf="currentURL.includes('league')" mat-button routerLink="{{categoriesURL}}">
			<i class="material-icons">chevron_left</i>
		</button>

		<!--h4 *ngIf="!currentURL.includes('league')" fxShow.xs fxHide fxFlex style="text-align: center;line-height: 49px" >{{pageTitle}}</h4-->

		<h4 *ngIf="currentURL.includes('league')" fxFlex style="text-align: center;line-height: 49px" >{{pageTitle}}</h4>
		
		<button *ngIf="!currentURL.includes('league')" fxHide.xs routerLink="{{homeURL}}" routerLinkActive="org-btn-active"fxFlex="20%" mat-button>News</button>
		
		<button *ngIf="!currentURL.includes('league')" fxHide.xs routerLink="{{categoriesURL}}" routerLinkActive="org-btn-active" fxFlex="20%" mat-button>Categorie</button>

		<!--button *ngIf="!currentURL.includes('league')"fxHide.xs routerLink="{{infoURL}}" routerLinkActive="org-btn-active" fxFlex="20%" mat-button>Info</button-->

	</mat-toolbar-row>
</mat-toolbar>


<router-outlet #router="outlet" ></router-outlet>


<!--
<mat-toolbar class="mat-elevation-z2 white-toolbar" fxHide fxShow.xs color="warm" style="min-height:49px;height:49px !important" fxLayout="row">
	<mat-toolbar-row fxLayoutGap="8px" style="height:49px !important" fxLayoutAlign="start center">
		<button style="position: absolute;" fxFlex="10" *ngIf="currentURL.includes('league')" mat-button routerLink="{{categoriesURL}}">
			<i class="material-icons">chevron_left</i>
		</button>
		<h4 fxFlex style="text-align: center;line-height: 49px" >{{pageTitle}}</h4>
	</mat-toolbar-row>
</mat-toolbar>
-->
