@import '../../styles.scss';

.lb-splash-white-button{
	background: white;
	color: black;
	border-radius: 50px;
	overflow: hidden;
}

.lb-splash-button{
	background: #00de8e;
	color: white;
	border-radius: 50px;
	overflow: hidden;
}

.fb-color{
	background: #3a5b9d;
}

img.facebook-img{
	width: 36px;
	height: 36px;
	position: absolute;
	left: 0;
}

::ng-deep{
	.mat-raised-button{
		line-height: 40px;
	}
}

//@include angular-material-theme($lb-dark-theme);