<div fxLayout="row">
<div fxFlex.xs="100" fxFlexOffset.xs="0" fxFlex="50" fxFlexOffset="25" style="padding:10%" fxLayoutGap="16px" fxLayoutGap.xs="16px" fxLayout="column" >
	<button mat-raised-button [disableRipple]="true" class="lb-splash-white-button" routerLink="/login">ACCEDI</button>
	<button mat-raised-button [disableRipple]="true" class="lb-splash-button fb-color" (click)="signInWithFB()" >
		<mat-icon svgIcon="facebook-icon"></mat-icon> USA FACEBOOK</button>
		<button mat-raised-button [disableRipple]="true" class="lb-splash-button" routerLink="/signup">ISCRIVITI</button>
	</div>
</div>