@import '../../../styles.scss';

::ng-deep .mat-display-3{
	text-transform: uppercase;
	color: mat-color($lb-theme-primary);
	font-family: mat-font-family($custom-typography);
}



.right-item{
	text-align: right;
	color:#545353;
}

.timeline-entry-start-button{
	background:transparent;
	background-color: white !important;
	background-size: cover;
	position: absolute;
	left: calc(50% - 28px);
	margin-top:-3px;
	background-size: cover;
	color: black !important;
	//color: mat-color($lb-theme-primary) !important;
}

::ng-deep .mat-fab.timeline-entry-start-button .mat-button-wrapper{
	padding:0 !important;
}