<div fxLayout="row" [ngStyle]="{'margin-top':  fine ? '40px' : '0px' }">
	<button class="timeline-entry-start-button" color="primary" mat-fab>
		<!--fa style="color: black" size="2x" name="stopwatch"></fa-->
		<!--fa-icon style="font-size: 30px;color: black;"[icon]="['fa', 'stopwatch']"></fa-icon-->
		<mat-icon *ngIf="!fine">timer</mat-icon>
		<mat-icon *ngIf="fine">timer_off</mat-icon>
	</button>
	<!-- TIME STAMP -->
	<div fxFlex="50" style="height:50px;" fxLayout="row">
		<div style="margin-right:30px;margin-left: 1em;width: 100%">
			<h4 class="mat-display-3" style="text-align: right"></h4>
		</div>
	</div>
	<!-- ACTION INFO -->
	<div fxFlex="50" style="height:50px;" fxLayout="row">
		<!--div class="mat-elevation-z2" style="margin-right:1em;margin-left: 1em;background:#D2D2D2;width: 100%">
			<mat-list style="height: 100%">
				<mat-list-item class="right-item">
					<h4 mat-line>{{(fine == true)? 'Fine':'Inizio'}}</h4>
					<p mat-line> XX:XX </p>
				</mat-list-item>
			</mat-list>
		</div-->
	</div>
</div>