@import '../../styles.scss';

.container{
	padding:0.5em;
}
img.circle{
	width: 100%;
    height: auto;
    vertical-align: middle;
}

img.image-loaded {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

::ng-deep .mat-expansion-panel-header{
	text-transform: uppercase;
}
::ng-deep .mat-expansion-panel-body{
	padding:0;
}
::ng-deep .mat-list-base{
	padding-top:0 !important;
}
::ng-deep .mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover
{
  color:white;
  //background:  mat-color($lb-theme-primary) !important;
}

/*::ng-deep .mat-subheader {
    font-family: Roboto;
    font-size: 25px !important;
    font-weight: 200 !important;
    color: mat-color($lb-theme-primary) !important;
}*/

::ng-deep .mat-subheader.lb-cat-header{
    font-family: Roboto;
    //font-size: 25px !important;
    font-weight: 200 !important;
    //color: mat-color($lb-theme-primary) !important;
    margin: 0.5em;
    background: #6c8890;
    padding: 0 0 0 0.5em !important;
    height: 40px;
    font-size: 1em !important;
    text-transform: uppercase;
    line-height: 40px;
    color: white !important;
    border-left: 0.4em solid #87d68f;
}