<div fxLayout="row"  *ngIf="!loaded" fxLayoutAlign="center center" style="height: calc(100% - 196px)">
	<mat-progress-spinner *ngIf="!loaded" color="primary" mode="indeterminate" value="value"> 
	</mat-progress-spinner>
</div>
<div fxFlex fxFlex="80" fxFlexOffset="10" fxFlex.xs="100" fxFlexOffset.xs="0" *ngIf="WS && loaded">
	<mat-action-list *ngFor="let group of groupsCont" style="margin-top: 1em">
		<h3 class="lb-cat-header" mat-subheader>{{group.title == 'calcio5'? 'Calcio a 5': 'Calcio a 8'}}</h3>
		<mat-list-item disableRipple routerLink="{{groupURL(g.id)}}" [queryParams]="{title: g.nome}" *ngFor="let g of group.groups">
			<mat-icon>chevron_right</mat-icon>
			<h4 mat-line style="text-transform: uppercase;text-align: left;">{{g.nome}}</h4>
			<mat-divider ></mat-divider>
		</mat-list-item>
	</mat-action-list>
</div>
<div fxFlex fxFlex="80" fxFlexOffset="10" fxFlex.xs="100" fxFlexOffset.xs="0" *ngIf="WS==false && loaded">
	<mat-action-list style="margin-top: 1em">
		<mat-divider ></mat-divider>
		<button disableRipple mat-list-item routerLink="{{groupURL(group.id)}}" [queryParams]="{title: group.nome}" *ngFor="let group of groups">
			<div mat-list-icon mat-avatar class="circle" style="width: 35px;
			height: 35px;
			border:1px solid #0000001f;
			border-radius: 50%;
			background: white;
			vertical-align: middle;overflow: hidden;"><img default="{{default_url}}" src="https://league.livebomber.com/public/uploads/gironi/{{group.id}}.png" /></div>
			<mat-icon>chevron_right</mat-icon>
			<h4 mat-line style="text-transform: uppercase;text-align: left;">{{group.nome}}</h4>
			<mat-divider ></mat-divider>
		</button>
	</mat-action-list>
</div> 
