<mat-card style="height: 100%;padding: 0" class="fullscreen">
	<div fxLayoutGap="8px" class="lb-action-card-header" fxLayout="row" fxLayoutAlign="start center">
		<div fxFlex="20" fxLayout="column" class="lb-video-type-container" fxLayoutAlign="start center">
			<!--fa-icon  style="font-size: 30px;color: black;" [icon]="['fa', 'futbol']"></fa-icon-->
			<img src="{{typeLogoURL}}" width="40px"/>
			<p class="lb-video-type-label">{{type}}</p>
		</div>
		<!--fa fxFlex="10" class="action-type-icon" size="2x" name="futbol-o"></fa-->
		<div fxFlex="60" fxLayout="column">
			<p style="text-align: center;margin: 0">{{player_name}}</p>
			<div style="padding:0px 8px" fxLayout="row" fxLayoutAlign="space-around center">
		<p style="color: #a5a5a5;font-size: 12px;font-weight:100;">{{(date | date:'EEEE d MMM').toUpperCase()}}</p>
		<p fxLayout="row" fxLayoutAlign="end center" style="color: #a5a5a5;font-size: 12px;font-weight:100;">
			<mat-icon class="lb-video-info-icon">visibility</mat-icon>{{views}}</p>
		</div>
		</div>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="reportVideo()">
				<mat-icon>not_interested</mat-icon>
				<span>Segnala</span>
			</button>
			<!--button mat-menu-item disabled>
				<mat-icon>voicemail</mat-icon>
				<span>Check voicemail</span>
			</button-->
			<a mat-menu-item href="{{data.url}}.mp4">
				<mat-icon>cloud_download</mat-icon>
				<span>Scarica</span>
			</a>
		</mat-menu>
	</div>
	
	<div mat-card-image style="width: 100%;margin:0">
		<video playsinline id="videoPlayer" poster="{{poster_url}}" class="lb-player video-js vjs-16-9 vjs-big-play-centered vjs-paused vjs-controls-enabled vjs-workinghover " controls preload="none" autobuffer>
			<source [src]="video_url" type="video/mp4" />
		</video>
	</div>
	<div class="lb-action-card-footer" fxLayout="row">
		<div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
			<button (click)="liked()" mat-flat-button class="lb-modal-button">
				<mat-icon *ngIf="like" style="color:red">favorite</mat-icon>
				<mat-icon *ngIf="!like">favorite_border</mat-icon>
				{{(like? 'Ti piace':'Mi piace')}}
			</button>
		</div>
		<div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
			<button (click)="share()" mat-flat-button class="lb-modal-button">
				<mat-icon >share</mat-icon>Condividi
			</button>
		</div>
	</div>
	</mat-card>

<!--div fxLayout="column" fxFlex class="mat-elevation-z2">
	<div fxLayoutGap="8px" class="lb-action-card-header" fxLayout="row" fxLayoutAlign="start center">
		<fa fxFlex="10" class="action-type-icon" size="2x" name="futbol-o"></fa>
		<p fxFlex="80" style="text-align: center;">GOAL</p>
	</div>
	<div fxFlexLayout="row">
			<video fxFlex id="videoPlayer" class="lb-player video-js vjs-16-9 vjs-big-play-centered vjs-paused vjs-controls-enabled vjs-workinghover vjs-v7 vjs-user-active" controls preload="none" autobuffer>
			<source [src]="url" type="video/mp4" />
		</video>
	</div>

</div-->

	<!--div mat-card-image #plyr plyr plyrOptions="{{options}}" plyrTitle="Custom video" [plyrPoster]="poster" [plyrSources]="videoSources"
		(plyrInit)="player = $event" (plyrPlay)="played($event)"></div-->