.scrolling-wrapper {
	padding: 0.4em 0.3em 0.4em 0.3em;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;

	.lb-hs-item {
		display: inline-block;
	}
}

.scrolling-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }
}

.scrolling-wrapper::-webkit-scrollbar {
	display: none !important;
	height: 0 !important;
	width: 0 !important;
}


::ng-deep .lb-hs-item.mat-button{
	margin:0 0.3em 0 0.3em;
	    font-weight: 200;
	/*color:white !important;
	background:#00de8e !important;*/
}

::ng-deep.lb-hs-item.selected.mat-button{
	background: #3f9272 !important;
	color:white !important;
}

/*
::ng-deep .ng-reflect-disabled.lb-hs-item.mat-button[disabled]{
	background: #e0e0e0 !important;
	color: #9a9a9a !important;
}*/