<div class="scrolling-wrapper">
  <button (click)="select(p)" [ngClass]="s_p ? 'selected lb-hs-item' : 'lb-hs-item'" mat-button>Giocatori</button>
  <button (click)="select(t)"  [ngClass]="s_t ? 'selected lb-hs-item' : 'lb-hs-item'" mat-button>Squadre</button>
  <button (click)="select(m)"  [ngClass]="s_m ? 'selected lb-hs-item' : 'lb-hs-item'" mat-button>Partite</button>
  <button (click)="select(g)"  [ngClass]="s_g ? 'selected lb-hs-item' : 'lb-hs-item'" mat-button>Gironi</button>
</div>