<div fxLayout="row" fxLayoutAlign="center">
	<div fxFlex fxLayout="row" fxLayout.xs="column">
		<mat-list fxFlex.gt-sm="50" role="list">
			<h3 mat-subheader>Informazioni</h3>
			<mat-list-item role="listitem">
				<mat-icon mat-list-icon>place</mat-icon>
				<h4 mat-line>indirizzo</h4>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item role="listitem">
				<mat-icon mat-list-icon>local_phone</mat-icon>
				<h4 mat-line>telefono</h4>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item role="listitem">Item 3</mat-list-item>
		</mat-list>
		<agm-map fxFlex.gt-sm="50" [latitude]="lat" [longitude]="lng">
			<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
		</agm-map>
	</div>
</div>
