agm-map {
  height: 300px;
}
.info-img-container{
  margin-top: -50px;
}
.info-img {
  z-index: 1;
  width: 100px !important;
  height: 100px;
  /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
  background-size: cover;
}