  <ng-container>

    <!-- questa è la toolbar -->
    <mat-toolbar *ngIf="isOrgView()" fxHide fxShow.xs fxLayout="row" fxLayoutAlign="center" class="toolbar lb-main-toolbar toolbar-bottom" color="primary">
      <button fxLayout="column" (click)="sidenav.opened && sidenav.toggle()" fxLayoutAlign="start center" routerLink="{{homeURL}}" [ngClass]="currentURL===homeURL?'active':''" fxFlex="33%" mat-button>
        <mat-icon>bar_chart</mat-icon>
        <p class="lb-button-bottom-label">Top</p>
      </button>
      <button fxLayout="column" (click)="sidenav.opened && sidenav.toggle()" fxLayoutAlign="start center" routerLink="{{categoriesURL}}" [ngClass]="currentURL===categoriesURL?'active':''"fxFlex="34%" mat-button>
        <mat-icon>list</mat-icon>
        <p class="lb-button-bottom-label">Categorie</p>
      </button>

      <!-- bottone per il routing verso la pagina di news, [nuova feature] -->

      <button routerLink="{{newsURL}}" (click)="sidenav.opened && sidenav.toggle()" fxLayout="column" fxLayoutAlign="start center" [ngClass]="currentURL===newsURL?'active':''"fxFlex="33%" mat-button>
        <mat-icon>whatshot</mat-icon>
        <p class="lb-button-bottom-label">News</p>
      </button>

    <!--button routerLink="{{infoURL}}" [ngClass]="currentURL===infoURL?'active':''" fxFlex="33%" mat-button>
      <mat-icon>info</mat-icon>
    </button-->
  </mat-toolbar>
  

  <!-- questa è la toolbar della ricerca style="background: #080808;color:white"  -->
  <mat-toolbar *ngIf="searching" class="searchbar toolbar-top">
    <mat-toolbar-row fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
      <!--button mat-button ><mat-icon>search</mat-icon></button-->
      <mat-form-field fxFlex fxFlexOffset="0" floatLabel="never">
        <input autocomplete="off" matInput type="text" placeholder="Cerca.." [(ngModel)]="value">
        <button disableRipple mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon *ngIf="value">close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-button (click)="closeSearch()">Annulla</button>
      <!--button mat-raised-button><mat-icon>filter_list</mat-icon></button-->
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- questa è la toolbar principale, fissata in alto -->
  <mat-toolbar *ngIf="!searching && !fullscreen" color="primary" class="toolbar toolbar-top">

    
    <div fxLayoutAlign="center center" style="width:100%;padding:0;position: absolute;text-align: center;">
      <button button mat-button *ngIf="isOrgView()"><img src="assets/logolbwhite.svg" style="height:auto;width:3.5em" /></button>
      <p class="lb-page-title" *ngIf="!isOrgView()">{{getPageTitle()}}</p>
    </div>

    <mat-toolbar-row style="">
      <button color="warm" matRipple
      [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius" matRippleColor="#757575" mat-icon-button (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
      
      <div class="lb-spacer"></div>
      <button color="warm" *ngIf="!currentURL.includes('selection')" (click)="newSearch()" mat-icon-button><i class="material-icons">search</i></button>
    </mat-toolbar-row>
    
  </mat-toolbar>

  <mat-sidenav-container [ngStyle]="{'padding-top' : (fullscreen) ? '0px' : '48px'}" fxLayout="row wrap" [ngClass.xs]="currentURL.includes('channel')? 'bottom-bar-padding':''" class="sidenav-container">

    <mat-sidenav  class="lb-sidenav lb-main-sidenav" #sidenav mode="over"default_url:string="https://league.livebomber.com/public/uploads/picGiocatori/player.jpg" position="start">
      <mat-toolbar class="lb-user-nav">
        <span flex></span>
        <div fxLayout="column" class="md-toolbar-tools-bottom inset">
          <img src="{{user_image}}" style="border-radius: 50%" width="50px" height="auto" default="https://league.livebomber.com/public/uploads/picGiocatori/player.jpg"/>
          <span></span>
          <div>{{user_name}}</div>
          <div>{{user_email}}</div>
        </div>
      </mat-toolbar>
      <div class="mt-3">
        <mat-nav-list>
          <a (click)="sidenav.toggle()" mat-list-item routerLinkActive="active" routerLink="{{homeURL}}" style="font-size:15px;">
            <mat-icon mat-list-icon>home</mat-icon>
            <h4 mat-line>Home</h4>
          </a>
          <a (click)="sidenav.toggle()" mat-list-item routerLinkActive="active" routerLink="/about">
            <mat-icon mat-list-icon>description</mat-icon>
            <h4 mat-line>About</h4>
          </a>
          <a (click)="sidenav.toggle()" mat-list-item routerLinkActive="active" routerLink="/support">
            <mat-icon mat-list-icon>contact_support</mat-icon>
            <h4 mat-line>Supporto</h4>
          </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list>
          <a (click)="sidenav.toggle()" mat-list-item routerLinkActive="active" routerLink="/settings">
            <mat-icon mat-list-icon>settings</mat-icon>
            <h4 mat-line>Impostazioni</h4>
          </a>
          <a (click)="signOut()" routerLink="/" mat-list-item>
            <mat-icon mat-list-icon>exit_to_app</mat-icon>
            <h4 mat-line>Esci</h4>
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav class="lb-sidenav" fxFlex="50" style="margin-top:48px;" #notSidenav mode="over" position="end">
      <div class="mt-3">
        <mat-nav-list>
          <h3 matSubheader>Notifiche</h3>
          <a mat-list-item >
            <mat-icon mat-list-icon>notifications</mat-icon>
            <h4 mat-line>Notifica 1</h4>
          </a>
          <a mat-list-item >
            <mat-icon mat-list-icon>notifications</mat-icon>
            <h4 mat-line>Notifica 2</h4>
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content [@routeAnimations]="prepareRoute(router)" fxFlex fxFlex.gt-sm="70" style="background-color: white" cdkScrollable>
      <router-outlet #router="outlet" ></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <!-- (tap)="onOverlayTap($event)" era qui sotto -->
  <div *ngIf="overlay" class="lb-overlay-backdrop">
    <!--lb-hor-scroller></lb-hor-scroller-->
    <cdk-virtual-scroll-viewport itemSize="48" style="height: calc(100% - 48px);width:100%">
      <mat-selection-list>
        <!--h3 *ngIf="value.length == 0" matSubheader>Ricerche recenti</h3-->
        <ng-container *ngFor="let org of searchOrgs | org_filter : value">
          <mat-list-option style="height:48px" *ngIf="org.title!='' && value.length > 0">
            <img mat-list-icon mat-avatar class="circle" src="https://league.livebomber.com/public/uploads/tornei/{{org.id}}.png"/>
            {{org.title}}
            <mat-divider></mat-divider>
          </mat-list-option>
        </ng-container>
      </mat-selection-list>
    </cdk-virtual-scroll-viewport>
  </div>
</ng-container>