  

body {
  overflow-y:hidden;
}
.toolbar {
  max-height: 48px;
  min-height: 48px;
  border-bottom: 1px solid #419271;
}

.searchbar {
  z-index: 6;
  max-height: 48px;
  min-height: 48px;
}

.toolbar-top{
  z-index: 7;
  position: fixed;
  top: 0;
}

.lb-main-toolbar{
  vertical-align:middle;
  padding:0px !important;
}
.toolbar-bottom{
  z-index:5;
  position: fixed; 
  bottom: 0;
  
  /*-webkit-box-shadow: 0px -1px 2px 1px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px -1px 2px 1px rgba(0,0,0,0.33);
  box-shadow: 0px -1px 2px 1px rgba(0,0,0,0.33);*/
}

.lb-main-sidenav{
  margin-top:48px;
  width:280px
}

::ng-deep .mat-icon{
  height:28px !important;
  width:28px !important;
  font-size:28px !important;
}
.bottom-bar-padding{
  padding-bottom: 48px;
}
.sidenav-container {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: #eee;*/
}

.example-icon {
  padding: 0 14px;
}

.lb-spacer {
  flex: 1 1 auto;
}
.lb-sidenav {
}
.mat-nav-list a.active {
  background: #D2D2D2;
}

::ng-deep button.mat-button.active {
  /*background: white;
  color: #87d68f;*/
  color: white;
  background: #3f9272;
  border-radius: 0;
}

.lb-search-form-field{
  height: 100%;
}
::ng-deep .lb-search-form-field .mat-form-field-infix {
  border: 0 !important;
}

::ng-deep .lb-search-form-field .mat-form-field-wrapper{
  /*padding-bottom: 0 !important;*/
}

::ng-deep .lb-search-form-field .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  -webkit-transform: translateY(-1.28125em) scale(0.55) perspective(100px) translateZ(0.001px);
  transform: translateY(-0.3em) scale(0.55) perspective(100px) translateZ(0.001px);
  -ms-transform: translateY(-1.28125em) scale(0.55);
  width: 133.33333333%;
}

::ng-deep .mat-form-field-ripple {
  background-color: #00de8e !important;
}

.mat-form-field-underline {
  background-color: #white;
}

.lb-search-filter{
  background: white;
  width: 96%;
  height: 35px;
  line-height: 35px;
  margin-left: 2%;
}

.lb-overlay-backdrop{
  position: fixed;
  margin-top: 48px;
  /*background: black;
  opacity: 0.8;*/
  background:white;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.lb-button-bottom-label{
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  margin-top: -5px;
}

.lb-user-nav{
  height: 147px;
  color: white;
  background: #588f96;
}

.lb-page-title{
  margin: 0;
  vertical-align: middle;
  line-height: 48px;
  height: 48px;
}

::ng-deep .mat-drawer:not(.mat-drawer-side) {
  position: fixed;
}

::ng-deep .mat-drawer-backdrop {
  position: fixed !important;
}

::ng-deep .mat-pseudo-checkbox{ display: none !important; }
