<div fxLayout="column" fxLayoutGap="6px">
  <h3 class="mat-body-1">Condividi:</h3>
  <div fxLayout="row" fxLayoutGap="6px">
    <button fxFlex="25" [url]="url" mat-button shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
    <fa-icon [icon]="share.prop.twitter.icon" size="lg" style="color:white"></fa-icon>
  </button>

  <button fxFlex="25" [url]="url" mat-button shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
    <fa-icon [icon]="share.prop.facebook.icon" size="lg" style="color:white"></fa-icon>
  </button>

  <button fxFlex="25" [url]="url" mat-button shareButton="telegram" [style.background]="share.prop.telegram.color">
    <fa-icon [icon]="share.prop.telegram.icon" size="lg" style="color:white"></fa-icon>
  </button>

  <button (click)="copy(url)" fxFlex="25"  mat-button style="background: #d2d2d2">
    <fa-icon [icon]="['fa', 'copy']" size="lg" style="color:white"></fa-icon>
  </button>
  </div>
</div>