<div fxLayout="column" style="height:calc(100% - 244px)" fxLayoutAlign="center center">
	<mat-icon class="book-icon">book</mat-icon>
	<div fxLayout="row" fxLayout="center center" style="text-align: center">
		<section fxFlex.xs="90" fxFlexOffset.xs="5" fxFlex="80" fxFlexOffset="80">
			<h4 class="mat-subheading-2">
				Non ci sono ancora articoli da mostrare
			</h4>
		</section>
	</div>
</div>