<div fxLayout="row" fxLayoutAlign="start stretch" style="height:100%;padding:0 10% 0 10%">
	<div fxFlex.xs="100" fxFlexOffset.xs="0" fxFlex="50" fxFlexOffset="25" fxLayout="column" fxLayoutAlign="center stretch">
		<h1 class="mat-display-1" style="font-weight:400;color:#00de8e;text-align: center;">Iscriviti</h1>
		<form (submit)="signUpUser($event)">
			<mat-form-field style="width: 100%" appearance="fill">
				<mat-label>Nome</mat-label>
				<input id="fname" type="text" name="fname"  [formControl]="fname" matInput placeholder="" required>
				<mat-error *ngIf="fname.hasError('required')">{{getErrorMessage()}}</mat-error>
			</mat-form-field>
			<mat-form-field style="width: 100%" appearance="fill">
				<mat-label>Cognome</mat-label>
				<input id="lname" type="text" name="lname"  [formControl]="lname" matInput placeholder="" required>
				<mat-error *ngIf="lname.hasError('required')">{{getErrorMessage()}}</mat-error>
			</mat-form-field>
			<mat-form-field style="width: 100%" appearance="fill">
				<mat-label>Email</mat-label>
				<input id="email" type="email"  [formControl]="email" matInput placeholder="" required>
				<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
			</mat-form-field>
			<mat-form-field style="width: 100%" [formGroup]="signupGroup" appearance="fill">
				<mat-label>Password</mat-label>
				<input formControlName="password" type="password"  matInput placeholder="" required>
				<mat-error *ngIf="password.hasError('minlength')">Password must have at least {{minPw}} characters</mat-error><mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
			</mat-form-field>
			<mat-form-field style="width: 100%" [formGroup]="signupGroup" appearance="fill">
				<mat-label>Conferma Password</mat-label>
				<input id="password" type="password" #confirm formControlName="password2" (input)="onPasswordInput()" matInput placeholder="" required>
				<mat-error *ngIf="password2.hasError('required')">Please confirm your password</mat-error>
				<mat-error *ngIf="password2.invalid && !password2.hasError('required')">Passwords don't match</mat-error>
			</mat-form-field>
			<div fxLayout="row" fxLayoutAlign="space-between center">
				<button mat-button routerLink="/welcome"><mat-icon>arrow_back</mat-icon></button>
				<button type="submit" id="submit" mat-button [disabled]="!valid">
					ISCRIVITI ORA
					<!--mat-icon>done</mat-icon-->
				</button>
			</div>
		</form>
	</div>
</div>