<mat-card class="example-card" style="padding:0">
	<div class="lb-action-card-header" fxLayout="column" fxLayoutAlign="space-between stretch">
		<div fxLayoutGap="8px" style="width:100%" fxLayout="row" class="lb-video-type-container" fxLayoutAlign="start center">
			<!--fa-icon  style="font-size: 30px;color: black;" [icon]="['fa', 'futbol']"></fa-icon-->
			<img src="{{typeLogoURL}}" style="width: 30px;height: 30px"/>
			<p class="lb-video-type-label">{{action.tag}}</p>
		</div>
		<div  style="width:100%;height: 50px" *ngIf="!name_loaded">
			<content-loader fxLayout="column" [style]="{ width: '100%',height: '50px' }" fxLayoutAlign="center start" animate="true" primaryColor="white" secondaryColor="#00de8e">
				<svg:rect x="0" y="25" rx="3" ry="3" width="100%" height="25" />
				<svg:rect x="0" y="75" rx="3" ry="3" width="100%" height="25" />
			</content-loader>
		</div>
		<div fxLayout="column" *ngIf="name_loaded" style="width:100%;padding: 3px 0;height: 50px" fxLayoutAlign="start start">
			<p class="lb-action-card-player-name"  fxFlex>{{nome}}</p>
			<p class="lb-action-card-player-name"  fxFlex>{{cognome}}</p>
		</div>
	</div>
	<div (click)="askModal()" mat-card-image matRipple class="lb-action-card-preview" fxLayout="row" fxLayoutAlign="center center">
		<img style="width: 100%;height: auto;opacity: 0.5;" src="{{preview}}" alt="Action thumbnail">
		<div style="position: absolute;text-align: center;">
			<mat-icon>play_arrow</mat-icon>
		</div>
	</div>
	<!--div fxLayoutGap="8px" class="lb-action-card-footer" fxLayout="row" fxLayoutAlign="start center">
		<img mat-card-avatar src="{{action.player_img}}" class="card-image-small"/>
		<p style="white-space:pre-wrap;text-align: center;">
			{{(action.player.length>12)? (action.player | slice:0:11)+'..':(action.player)}}
		</p>
	</div-->
	<div class="lb-action-card-footer" fxLayout="row" fxLayoutAlign="start center">
		<mat-icon color="white">date_range</mat-icon>
		<p style="margin:0;line-height: 32px">{{date | date:'EEE d MMM'}}</p>
	</div>
</mat-card>

<!-- (player_name && player_name.length>12)? (player_name | slice:0:11)+'..':(player_name) -->