@import '../../../styles.scss';

.example-card{
	padding: 0.2em;
	color:white;
	background-color: mat-color($lb-theme-primary);
	margin:0.5em;
}
.mat-card-image{
	margin:0;
}
fa.action-type-icon{
	vertical-align: middle
}
.lb-action-card-header{
	padding:0.5em 0.5em 0 0.5em;
	color: black;
	//background-color: white;
}
.lb-action-card-header.with-border{
	//border-right: solid #00de8e 1px;
}

.lb-action-card-footer{
	padding: 0.4em;
    //background-color:whitesmoke;
    //color:black;
}
.lb-action-card-footer.last{
	border-top: solid 1px white;
}
.card-image-small{
	width: 50px !important;
	height: 50px;
	background-size: cover;
	background-color: white;
}
.lb-video-type-label{
	margin: 0;
	text-transform: uppercase;
	font-size: 13px;
	color: mat-color($lb-theme-primary);
}

.lb-video-type-container{
	background: white;
	border-radius: 3px;
	padding:3px;
    //border: 1px black solid;
    box-sizing: border-box;
}
p.lb-action-card-player-name{
	margin: 0 !important;
	text-transform: uppercase !important;
	color: white !important;
}


$break-small: 400px;
$break-medium: 740px;
$break-large: 940px;

::ng-deep .mat-card-image.lb-action-card-preview {
	width: 100%;
	overflow: hidden;
	background: black;
	@media screen and (max-width: $break-small) {
		height: 81px !important;
	}
	@media screen and (min-width: $break-small) {
		height: 130px !important;
	}
	@media screen and (min-width: $break-medium) {
		height: 190px !important;
	}
	@media screen and (min-width: $break-large) {
		height: 160px !important;
	}
}