@import '../../../styles.scss';

.card-header-image {
	//width: 40px !important;
	//height: 40px;
	width: 100% !important;
	height: auto;
	background-size: cover;
	background-color: white;
}

.card-image-small{
	width: 50px !important;
	height: 50px;
	background-size: cover;
	background-color: white;
}
.example-card{
	padding: 0.2em;
	color:white;
	background-color: mat-color($lb-theme-primary);
	margin:0.5em;
}
p.team-name{
	text-align: center;
	margin:0.2em;
}
h4.team-name{
	border-radius: 4px;
	padding:0.2em;
	font-weight: 300;
	background: white;
	text-align: center;
	color: mat-color($lb-theme-primary);
	margin:0.2em;
}
.with-top-border{
	padding-top: 0.2em;
	border-top: solid 1px white;
}

h4.ris{
	font-size: 1em;
    margin: 0;
	font-weight: 400;
	text-align: center;
}
h4.ris-big{
	width: 100%;
	font-weight: 400;
    margin: 0;
    text-align: center;
    font-size: 1.9em;
}