<mat-card class="example-card">
	<mat-card-content fxLayout="column">
		<div fxFlex="100">
			<h4 class="team-name">{{match.sq1}}</h4>
		</div>
		<div fxLayoutGap="0px" style="padding:0.5em" fxLayout="row" fxLayoutAlign="center center">
			<div fxFlex="25" fxLayout="column" fxLayoutAlign="start center">
				<img mat-card-avatar style="margin:auto;" src="{{teamURL(match.sq1id)}}" class="card-header-image"/>

			</div>
			<div fxFlex="50" fxLayoutAlign="center" style="font-size:1em;padding:2px;text-align: center;vertical-align: middle;">
				<h4 [ngClass]="big? 'ris-big':'ris'">{{match.ris1}} - {{match.ris2}}</h4></div>
			<div fxFlex="25" fxLayout="column" fxLayoutAlign="start center">
				<img mat-card-avatar style="margin:auto;" src="{{teamURL(match.sq2id)}}" class="card-header-image">
			</div>
		</div>
		<div fxFlex="100">
			<h4 mat-display-1 class="team-name">{{match.sq2}}</h4>
		</div>
	</mat-card-content>
	<mat-card-content class="with-top-border" fxLayout="row">
		<mat-icon color="white">date_range</mat-icon><p style="margin:0;line-height: 32px">{{date | date:'EEE d MMM'}}</p>
	</mat-card-content>
</mat-card>