<app-profile-header (onBackClicked)="goBack()"></app-profile-header>
<div fxLayout="column" fxLayoutAlign="start stretch">
	<div fxLayout="row" style="height:48px;border-bottom: 1px solid #dedede;margin-bottom:0px !important;" fxLayoutAlign="center stretch">
		<div matRipple fxFlex="50" (click)="grid=true" fxLayout="row" [ngClass]="grid ? 'switch_active' : ''" fxLayoutAlign="center center"><mat-icon>grid_on</mat-icon></div>
		<div matRipple fxFlex="50" (click)="grid=false" fxLayout="row" [ngClass]="!grid ? 'switch_active' : ''" fxLayoutAlign="center center"><mat-icon>list</mat-icon></div>
	</div>
	<div fxLayout="row">
		<div fxFlex.xs="100" fxFlexOffset.xs="0" fxFlex="50" fxFlexOffset="25" style="padding:8px 0" fxLayoutGap="8px" fxLayoutAlign="space-around stretch" *ngIf="!grid && loaded" fxLayout="column">
			<lb-action-video-card [action]="action1" [id]="1"></lb-action-video-card>
			<lb-action-video-card [action]="action2" [id]="2"></lb-action-video-card>
		</div>
	</div>
	<div fxLayout="row">
		<div fxFlex.xs="100" fxFlexOffset.xs="0" fxFlex="50" fxFlexOffset="25" *ngIf="grid  && loaded">
			<mat-grid-list cols="3" rowHeight="1:1">
				<mat-grid-tile (click)="openVideoModal(action)" *ngFor="let action of actions">
					<div style="position: absolute;text-align: center;color:white;">
						<mat-icon>play_arrow</mat-icon>
					</div>
					<img src="{{action.thumb}}" height="100%" width="auto"/>
				</mat-grid-tile>
			</mat-grid-list>
		</div>
	</div>
	
</div>
<div  style="height: calc(100% - 277px)" fxLayout="row" *ngIf="!loaded" fxLayoutAlign="center center">
	<mat-progress-spinner color="primary" mode="indeterminate" value="value"> 
	</mat-progress-spinner>
</div>