.line {
	z-index: -1;
    position: absolute;
    top: 0;
    height: 100%;
    /*background-color: #77b57e;*/
    background-color: #00de8e;
    /*background-color: #a0a0a0;*/
    left: 50%;
    width: 3px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
