@import '../../../styles.scss';

::ng-deep .card-header-image {
	width: 40px !important;
	height: 40px;
	background-size: cover;
	background-color: white;
	border-radius: 50%;
}
.bomber-card{
	//background: whitesmoke;
	margin:0.5em;
}
.ranking{
	font-size: 0.8em;
	color:mat-color($lb-theme-primary);
}
.rank{
	border-radius: 3px;
	color:white;
	padding: 3px;
	width: 100%;
	background: mat-color($lb-theme-primary);
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	font-weight: 400;
	text-align: center;
	font-size: 1em;
}
.player-name{
	text-align: left;
	text-transform: uppercase;
	margin: 0;
	font-weight: 300;
	background: white;
	text-align: center;
	font-size: 1em;
	color: mat-color($lb-theme-primary);
}