<mat-card *ngIf="loaded" style="padding:10px;height: 130px" class="lb-dark bomber-card">
	<div fxLayout="column" style="width: 100%;height: 100%" fxLayoutAlign="center center">
		<div fxFlex="36">
			<img default="{{default_url}}" class="img card-header-image small"style="
			height: 100%;
			width: auto;
			background-size: cover;
			background-color: white;
			border-radius: 50%;" mat-card-avatar src="{{custom_url}}"/>
		</div>
		<h4 fxFlex="34" class="player-name">{{(player.nome +" "+player.cognome) | truncate:[20]}}</h4>
		<div fxFlex="30" fxLayout="column" fxLayoutAlign="end stretch" style="width: 100%">
			<app-progress fxFlex="50" [rank]="ranking"></app-progress>
			<span fxFlex="50" class="ranking">RANK:{{(ranking == "")? '-': (ranking)}}/100</span>
		</div>
		
	</div>
</mat-card>
<div fxLayout="row"  *ngIf="!loaded" fxLayoutAlign="center center" style="height: calc(100% - 196px)">
	<mat-progress-spinner *ngIf="!loaded" color="primary" mode="indeterminate" value="value"> 
	</mat-progress-spinner>
</div>