@import '../../styles.scss';

.mat-tab-group{
	height:100%;
}
.mat-card-image{
	margin:0;
}

p.team-name{
	text-align: center;
	margin:0.2em;
}
h4.team-name{
	border-radius: 4px;
	padding:0.2em;
	font-weight: 300;
	background: white;
	text-align: center;
	color: mat-color($lb-theme-primary);
	margin:0.2em;
}
section h5{
	text-transform: uppercase;
	color: mat-color($lb-theme-primary);
	font-family: mat-font-family($custom-typography);
}
.fa-2x{
	line-height: inherit;
	font-size: 2em;
}