<div *ngIf="loaded_m && loaded_a && loaded_b" class="container">
	<section>
		<h5 class="mat-display-1">Partite</h5>
		<owl-carousel-o (swipeleft)="preventScroll()" (swiperight)="preventScroll()" [options]="matchesOptions">
			<ng-template carouselSlide *ngFor="let match of matches">
				<app-match-card routerLink="/match/{{match.lsid}}" [match]="match"></app-match-card>
			</ng-template>
		</owl-carousel-o>
		<p style="text-align: center;" *ngIf="matches.length == 0"> Non ci sono partite al momento..</p>
	</section>
	<section fxLayoutAlign="center center" fxLayout="row">
		<button routerLink="{{matchesURL}}" *ngIf="matches.length != 0" mat-button style="text-transform: uppercase;"><mat-icon>play_arrow</mat-icon>tutte le partite</button>
	</section>
	<section>
		<h5 class="mat-display-1">Migliori azioni</h5>
		<owl-carousel-o (swipeleft)="preventScroll()" (swiperight)="preventScroll()" [options]="actionsOptions" *ngIf="loaded_a">
			<ng-template carouselSlide *ngFor="let action of actions">
				<app-action-card (modalAsked)="openVideoModal($event)" [action]="action">
				</app-action-card>
			</ng-template>
		</owl-carousel-o>
		
		<p style="text-align: center;" *ngIf="actions.length == 0"> Non ci sono azioni al momento..</p>
	</section>
	<section fxLayoutAlign="center center" fxLayout="row">
		<button *ngIf="actions.length != 0" class="lb-section-button" mat-button style="text-transform: uppercase;" routerLink="{{actionsURL}}">
			<mat-icon>play_arrow</mat-icon>tutte le migliori azioni</button>
		</section>
		<section>
			<h5 class="mat-display-1">Top Bombers</h5>
			<owl-carousel-o (swipeleft)="preventScroll()" (swiperight)="preventScroll()" *ngIf="loaded_b" [options]="bombersOptions">
				<ng-template carouselSlide *ngFor="let player of bombers | slice:0:8 ; let i=index">
					<app-player-card routerLink="/profile/{{player.id}}" [player]="player"></app-player-card>
				</ng-template>	 	
			</owl-carousel-o>
			<p style="text-align: center;" *ngIf="bombers.length == 0"> Non ci sono bombers al momento..</p>
		</section>
	</div>
	<div fxLayout="row"  *ngIf="!(loaded_m && loaded_a  && loaded_b)" fxLayoutAlign="center center" style="height: calc(100% - 196px)">
		<mat-progress-spinner *ngIf="!loaded" color="primary" mode="indeterminate" value="value"> 
		</mat-progress-spinner>
	</div>