<div fxLayout="row" style="background:#eaeaea;height: 100%;width:100%" fxLayoutAlign="center stretch">
	<div fxFlex="70" style="background: white" fxFlex.xs="100" class="mat-elevation-z2" fxLayout="column" fxLayoutAlign="center stretch">
		<div >
			<lb-action-video-card [action]="action" [id]="action.id"></lb-action-video-card>
		</div>
	</div>
</div>