/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~@ngx-share/button/themes/default/default-theme';

//@include mat-core();
// #00ad6e
$mat-lb2: (
    50 : #eff9f5,
    100 : #d7efe7,
    200 : #bde5d7,
    300 : #a2dac7,
    400 : #8ed2bb,
    500 : #7acaaf,
    600 : #72c5a8,
    700 : #67bd9f,
    800 : #5db796,
    900 : #4aab86,
    A100 : #ffffff,
    A200 : #d3ffee,
    A400 : #a0ffda,
    A700 : #86ffd0,
    contrast: (
        50 : #FFFFFF,
        100 : #FFFFFF,
        200 : #FFFFFF,
        300 : #FFFFFF,
        400 : #FFFFFF,
        500 : #FFFFFF,
        600 : #FFFFFF,
        700 : #FFFFFF,
        800 : #FFFFFF,
        900 : #FFFFFF,
        A100 : #FFFFFF,
        A200 : #FFFFFF,
        A400 : #FFFFFF,
        A700 : #FFFFFF,
        )
    );
$mat-lb: (
    50 : #e0fbf1,
    100 : #b3f5dd,
    200 : #80efc7,
    300 : #4de8b0,
    400 : #26e39f,
    500 : #00de8e,
    600 : #00da86,
    700 : #00d57b,
    800 : #00d171,
    900 : #00c85f,
    A100 : #f1fff6,
    A200 : #beffd8,
    A400 : #8bffba,
    A700 : #71ffab,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #FFFFFF,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #FFFFFF,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #FFFFFF,
        )
    );
$mat-warm: (
    50 : #ecf6f2,
    100 : #cee9e0,
    200 : #aedbcb,
    300 : #8ecdb6,
    400 : #75c2a6,
    500 : #5db796,
    600 : #55b08e,
    700 : #4ba783,
    800 : #419f79,
    900 : #309068,
    A100 : #d8ffee,
    A200 : #a5ffd7,
    A400 : #72ffc1,
    A700 : #58ffb6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
        )
    );



$lb-theme-primary: mat-palette($mat-lb,500,A200,A200);
$lb-theme-accent: mat-palette($mat-lb2,800);
$lb-theme-warm: mat-palette($mat-warm,500,900,200);
$lb-theme: mat-light-theme(
	$lb-theme-primary,
	$lb-theme-accent,
	$lb-theme-warm
	);
$lb-dark-theme:   mat-dark-theme($lb-theme-primary, $lb-theme-accent, $lb-theme-warm);
@include angular-material-theme($lb-theme);

.color-primary {
  color: mat-color($lb-theme-primary);
}

.lb-dark-card{
    @include mat-card-theme($lb-dark-theme);
}
.lb-dark-button{
    @include mat-button-theme($lb-dark-theme);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$custom-typography: mat-typography-config(
    $font-family: 'Roboto',
    $display-4:     mat-typography-level(112px, 112px, 300),
    $display-3:     mat-typography-level(56px, 56px, 200),
    $display-2:     mat-typography-level(45px, 48px, 200),
    $display-1:     mat-typography-level(34px, 40px, 300),
    $headline:      mat-typography-level(24px, 32px, 400),
    $title:         mat-typography-level(20px, 32px, 300),
    $subheading-2:  mat-typography-level(16px, 28px, 200),
    $subheading-1:  mat-typography-level(15px, 24px, 400),
    $body-2:        mat-typography-level(14px, 24px, 500),
    $body-1:        mat-typography-level(14px, 20px, 400),
    $caption:       mat-typography-level(12px, 20px, 400),
    $button:        mat-typography-level(14px, 14px, 500),
    $input:         mat-typography-level(inherit, 1.125, 400)
    );

@include mat-core($custom-typography);


.mat-list-icon{
    background-color: white;
    //background-color: #f9f9f9;
    color: #757575;
	//background-color: mat-color($lb-theme-primary);
	//color: white;
}
.container{

}
.mat-nav-list.mat-list-base{
    padding-top: 0;
}
a.mat-list-item{
    height: 49px !important;
}
button.org-btn-active{
  background-color: mat-color($lb-theme-primary);
  color:white;
}
.lb-tab-container{
    padding:0.5em;
}
.lb-org-info-tab-container{
    color:mat-color($lb-theme-primary);
    //background:mat-color($lb-theme-primary);
}

.mat-button-focus-overlay {
 background-color:transparent !important;
}

img{
    pointer-events: none
}

.mat-icon-button:hover{
    //background: mat-color($lb-theme-accent);
}

section h5{
    text-align: center;margin: 0.5em;
}
mat-list-item{
    height: 49px;
}

::ng-deep .mat-dialog-container{
    padding:0;
}

// change the play button color

.vjs-big-play-button .vjs-icon-placeholder {
    visibility: hidden;
}

.lb-player .vjs-big-play-button {
    content: "";
    background-image: url("https://www.livebomber.com/assets/img/logoquadrato1.png") !important;
    background-size: 70px auto !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 100px !important;
    height: 80px !important;
    background-repeat: no-repeat;
    border: #00de8e 3px solid !important;
    box-shadow: none !important;
}

.vjs-big-play-centered .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin-top: -1.4em;
    margin-left: -1.5em;
}

.plyr__control--overlaid,
.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
    background: rgb(135, 214, 143);
}

.plyr__control--overlaid {
    background: rgb(135, 214, 143);
    border: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    color: #fff;
    display: none;
    left: 50%;
    padding: 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 2;
}

// prevent scroll when dialog is open 

.custom-dialog-container .mat-dialog-container {
  overflow-y: hidden;
}

::ng-deep .mat-dialog-container{
    max-width: none;
    width: 100vw;
    //height: 70vh;
}

.vjs-control-bar {
    background-color: black !important;
}

html {
 overflow-y: scroll;    
}
