<div *ngIf="loaded" style="width: 100%" fxLayout="column" fxLayoutAlign="start stretch">
	<mat-toolbar class="toolbar white-toolbar">
		<h2 style="width:100%;text-align:center;position: absolute;height: inherit;line-height: 49px"> Migliori Partite</h2>
		<mat-toolbar-row style="border-bottom: 1px solid;height: 49px;">
			<button (click)="goBack()" color="warm" mat-icon-button><i class="material-icons">arrow_back</i></button>
		</mat-toolbar-row>
	</mat-toolbar>
	<app-match-card routerLink="/match/{{match.lsid}}" [big]="true" style="margin: 0 1em 0.5em 1em" [match]="match" *ngFor="let match of matches"></app-match-card>
	<div class="mat-elevation-z4">
		<mat-paginator
		[length]="10"
		[pageSize]="24"
		[pageSizeOptions]="[12, 24]"
		(page)="updateProductsDisplayedInPage($event)">
	</mat-paginator>
</div>
</div>
<div fxLayout="row"  *ngIf="!loaded" fxLayoutAlign="center center" style="height: calc(100% - 98px)">
	<mat-progress-spinner *ngIf="!loaded" color="primary" mode="indeterminate" value="value"> 
	</mat-progress-spinner>
</div>