<!--mat-toolbar class="toolbar white-toolbar">
	<h2 style="width:100%;text-align:center;position: absolute;height: inherit;line-height: 49px"> Impostazioni</h2>
	<mat-toolbar-row style="border-bottom: 1px solid;height: 49px;">
		<button (click)="goBack()" color="warm" mat-icon-button><i class="material-icons">arrow_back</i></button>
	</mat-toolbar-row>
</mat-toolbar-->
<div fxLayout="row" fxLayoutAlign="start center" style="padding:1em">
	<mat-card fxHide.xs fxShow style="padding:0" fxFlex="50" fxFlexOffset="25">
		<mat-action-list>
			<h3 mat-subheader>Generali</h3>
			<mat-list-item routerLinkActive="active">
				<mat-icon>chevron_right</mat-icon>
				<h4 mat-line>Lingua</h4>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item  routerLinkActive="active" routerLink="/selection">
				<mat-icon>chevron_right</mat-icon>
				<h4 mat-line>Cambia organizzazione</h4>
			</mat-list-item>
			<mat-divider></mat-divider>
			<h3 mat-subheader>Account</h3>
			<mat-list-item >
				<mat-icon>chevron_right</mat-icon>
				<h4 mat-line>Account Live Bomber</h4>
				<!--p mat-line>email@sdsfs.ie</p-->
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item >
				<mat-icon>chevron_right</mat-icon>
				<h4 mat-line>Account collegati</h4>
				<!--p mat-line>password</p-->
			</mat-list-item>
			<mat-divider></mat-divider>
		</mat-action-list>
	</mat-card>
	<mat-action-list fxFlex.xs="100" fxFlexOffset.xs="0" fxShow.xs fxHide>
			<h3 mat-subheader>Generali</h3>
			<mat-list-item routerLinkActive="active">
				<mat-icon>chevron_right</mat-icon>
				<h4 mat-line>Lingua</h4>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item  routerLinkActive="active" routerLink="/selection">
				<mat-icon>chevron_right</mat-icon>
				<h4 mat-line>Cambia organizzazione</h4>
			</mat-list-item>
			<mat-divider></mat-divider>
			<h3 mat-subheader>Account</h3>
			<mat-list-item >
				<mat-icon>chevron_right</mat-icon>
				<h4 mat-line>Account Live Bomber</h4>
				<!--p mat-line>email@sdsfs.ie</p-->
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item >
				<mat-icon>chevron_right</mat-icon>
				<h4 mat-line>Account collegati</h4>
				<!--p mat-line>password</p-->
			</mat-list-item>
			<mat-divider></mat-divider>
		</mat-action-list>
</div>